		 

			  <div  class="col-sm-2 label2" >  
				  	Date(s) 
		      </div>
		      <div  class="col-sm-10 " >
		      		{% set deb = parent.startDate|date("d/m/Y")  %}
		      		{% set fin = parent.endDate|date("d/m/Y")    %}

		      		{% if deb!=fin    %}		      				        
				  	Du {{parent.startDate|date("d/m/Y")}} <i>{{parent.startDate|date("G")}}H{{parent.startDate|date("i")}}</i> 
				  	au {{parent.endDate|date("d/m/Y")}}   <i>{{parent.endDate|date("G")}}H{{parent.endDate|date("i")}}</i>
				  	{% else %}
				  		{{parent.startDate|date("d/m/Y")}}  de {{parent.startDate|date("G")}}H{{parent.startDate|date("i")}} à {{parent.endDate|date("G")}}H{{parent.endDate|date("i")}}
				  	{% endif %}
			  </div>	   
			  
		  	  {% if parent.place is defined and parent.place is not null %}		    
				  <div  class="col-sm-2 label2" >  
				  	Lieu			  
				  </div>
				  <div  class="col-sm-10">  
						{{ parent.place}}&nbsp;
				  </div>	 
		  	  {% endif %}
		  
		  	  {% if parent.isFaceToFace is defined and parent.isFaceToFace is not null %}		    
				  <div  class="col-sm-2 label2" >  
				  	{% if parent.isFaceToFace==1 %}	
				  		Séquence en présentiel
				  	{% else %}	
				  		Séquence à distance
				  	{% endif%}				  
				  </div>
				  <div  class="col-sm-10 " >  
						&nbsp;
				  </div>	 
		  	  {% endif %}	

		  	  {% if parent.description is defined and parent.description is not null %}	
				  <div  class="col-sm-2 label2" >  
				  	Description 
				  </div>
				  <div class="col-sm-10 " > 
					    <div  style="overflow:auto; height: 200px; width: 100%; padding: 15px; border: 1px solid #AAAAAA">
					    		{{ parent.description|raw  }}
					    </div>
					    <br/>
				  </div>	
		  	  {% endif %}	

		  	  
