{% set pourcentage = 0 %}

<div id="CGS" >     

    <div class="col-sm-12 blockheader"  >       
    	<div class="col-sm-5 entete0" style="text-align:left"   >
  			Compétences générales
        </div>		
    	<div class="col-sm-2 entete0" style="text-align:center"   >
  			Catégorie
        </div>	
    	<div class="col-sm-2 entete0" style="text-align:center"   >
  			Compétences spécifiques
        </div>	
    	<div class="col-sm-1 entete0" style="text-align:center"   >
  			%
        </div>	        
    	<div class="col-sm-2 entete0"  style="text-align:center"  >
  			
        </div>	  
                
    </div>   
   
  {% for parent in entities %} 	                    
	{% set pourcentage = (parent.weight * 100) + pourcentage %}	 
  
    <div id="CG_{{parent.id}}"  style="border-bottom:dotted 1px;"> 

        {{ block('parent_item') }}
        
	     <div id="CG_{{parent.id}}_B" class="col-md-12 col-sm-12 blockc" style="display: none;">  
      	        	    
		  	  	{{ block('children_header') }}
  
    	    	{{ block('new_child') }}  

          </div>	
 
    </div> 
  {% endfor %}
</div>  
  
  
<div class="row">
	{% if pourcentage>100 				%}
	{% set color="progress-bar-danger"  %}	
	{% else 							%}
	{% set color="progress-bar-striped" %}
	{% endif 							%}
	
	
	<div id='' class="col-md-8 col-sm-8">	
	</div>  
	<div id='general-item-weight' class="general-item-weight col-md-2 col-sm-2">	
		<div class="progress">	
		
			{% set pourcentage = pourcentage|round(1)  %}
			
			<div class="progress-bar {{color}} " style="width:{{ pourcentage }}%;"  > 
				<span class="text-muted">{{ pourcentage }}%</span> 
			</div>		
		</div>	
	</div> 
</div>	 

{{ block('new_parent') }}
