{% extends 'IfeAloesBundle:Course:layout.html.twig' %}
{% import 'IfeAloesBundle:Course:linking.html.twig' as macros %}

{% block content -%}

   	<div class='title-one'> {{ course.title }} </div>
    <div class='title-two'> Référentiel de compétences du cours </div>    	

<!--
    {{ block('course_selection') }}
-->

    {% embed 'IfeAloesBundle:Aloes:list-spec.html.twig' with {'children':'specificCompetences'} %}

        {% block parent_item %}
            <div class="row">

                <!-- Title -->
	        <div class="lead col-md-9 col-sm-9">
                    {{ parent.title }}
	        </div>
                
                <!-- Weight -->
	        <div class="general-item-weight cold-md-2 col-sm-2">
	            <span class="weight lead text-muted"> {{ parent.weight|round(2) * 100 }} % </span>
	        </div> 
                
                <!-- Link to edit -->
            <!--    
	        <div class="col-md-1 col-sm-1">
                    <a href="{{path('generalcompetence_edit',{id:parent.id})}}" class="pull-right">
	                <span class="glyphicon glyphicon-edit"></span>
                    </a>
	        </div>
			-->
			
            </div>
        {% endblock %}

        {% block child_item %}
            <tr>
                <td> {{ child.title }} </td>
                <td> {{ macros.progress_bar(child.weight) }} </td>
                <!--
                <td> 
                    <a href="{{ path('specificcompetence_delete', {id:child.id}) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                -->
                
            </tr>
        {% endblock %}


        {% block children_header %}
	    <thead class="list-header">
	        <tr>
		    <th class="col-md-8"> Compétences spécifiques </th>
		    <th class="col-md-3"> Poids des évaluations </th>
		    <th class="col-md-3"></th>
	        </tr>
	    </thead>
        {% endblock %}

        {% block new_parent %}
        <!--
            <div class="node-creator general-item-creator">
                <form action="{{path('program_competences_create', {id:program.id})}}" method="POST">
                    <div class="form-group">
                        <input name="aloes_generalcompetence[title]" type="text" placeholder="Nouvelle compétence générale" required>
                    </div>
                    <button class="btn btn-xs btn-success" type="submit"> Ajouter </button>
                </form>
            </div>
        -->
        {% endblock %}

        {% block new_child %}
		<!--	
            <div class="child-creator">
                <form action="{{path('generalcompetence_specifics_create', {id:parent.id})}}" method="POST">
                    <div class="form-group">
                        <input name="aloes_specificcompetence[title]" type="text" placeholder="Nouvelle compétence spécifique" required>
                    </div>
                    <button class="btn btn-xs btn-success" type="submit"> Ajouter </button>
                </form>
            </div>
        -->
            
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block course_selection %}
    <div class="panel-group" id="course-selection" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="course-selection-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#course-selection" href="#course-selection-form">
                        Selectionner un parcours
                    </a>
                </h4>
            </div>
            <div id="course-selection-form" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <p class="alert alert-info"> 
                        Selectionnez les cours à prendre en compte
                        pour la pondération du référentiel de
                        compétences 
                    </p>
                    {{ block('course_selection_form') }}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}


{% block course_selection_form %}
    <form action="{{path('program_competences', {id:program.id})}}" method="POST">
        {% for course in courses %}
            <div class="checkbox">
                <label> 
                    <input type="checkbox" name="courses[{{ course.id }}]" 
                           {% if (selection|length == 0 and course.isOptional == false) or course.id in selection %}
                           checked
                           {% endif %}>  
                    {{ course.label }}
                </label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success"> Actualiser la sélection </button> 
    </form>
{% endblock %}
