{% extends 'IfeAloesBundle:Course:layout.html.twig' %}
{% import 'IfeAloesBundle:Course:linking.html.twig' as macros %}

{% block content -%}

	<!--
   	<div class='title-one'> {{ course.title }} </div>
    -->
    
    <div class='title-two'>  Objectifs "généraux" d'apprentissage</div>    	
 
 
    <br/>
    
	<script type="text/javascript">   	
		function HideShow(param,param2)
			{
		  	$(param).toggle();
		  	str = $(param2).html();  
		  	
			if (str=='<span class="glyphicon glyphicon-resize-full"></span> Objectifs "spécifiques" associés')
		  		$(param2).html('<span class="glyphicon glyphicon-resize-small"></span> Objectifs "spécifiques" associés');
			else if (str=='<span class="glyphicon glyphicon-resize-small"></span> Objectifs "spécifiques" associés')
		  		$(param2).html('<span class="glyphicon glyphicon-resize-full"></span> Objectifs "spécifiques" associés');		
			}  
	</script> 	


    {% embed 'IfeAloesBundle:Aloes:list.html.twig' with {'children': 'specificObjectives'} %}

        {% block parent_item %}

 
            <div class="row">

	                <!-- Title -->
		        <div class="col-md-6 col-sm-6"  >
	                    {{ parent.title }} 
		        </div> 
	                
	                <!-- Weight -->
		        <div class="general-item-weight col-md-1 col-sm-1" >
		            <span class="weight   text-muted"> {{ parent.weight * 100 }}% </span>
		        </div> 
	 
			{% set nb_specs = parent.specificObjectives|length %}	 	 
	              	              
	                <!-- Link to edit -->
		        <div class="text-info col-md-5 col-sm-5" > 
		    
		        <span id="OBJ{{parent.id}}" onclick="HideShow('#target{{parent.id}}','#OBJ{{parent.id}}');"><span class="glyphicon glyphicon-resize-full"></span> Objectifs "spécifiques" associés</span>    
	          [{{nb_specs}}]
		         
				 {% if ( is_granted("ROLE_ENSEIGNANT")  and course.isRedacteur(app.user.id) ) or 
				       ( is_granted("ROLE_RESPONSABLE") and course.isRedacteur(app.user.id) ) or  
				       ( is_granted("ROLE_ADMIN") )
				  %}		             
	                    <a href="{{path('general_objective_edit',{id:parent.id})}}" class="pull-right" title="Modifier Objectifs">
		                <span class="glyphicon glyphicon-edit"></span>&nbsp;Modifier 
	                    </a>
	             {% endif %}
		        </div>   		        
		        
            </div>


	       {% if sequence is defined and sequence==parent.id %}
		    	  <div id="target{{parent.id}}" class="col-md-12 col-sm-12 block" > 
	       {% else %}
		    	  <div id="target{{parent.id}}" class="col-md-12 col-sm-12 block" style="display: none;">             
	       {% endif %}  
                 
            
        {% endblock %}

        {% block child_item %}
            <tr>
                <td> {{ child.title }} </td>
                <td> {{ macros.progress_bar(child.weight) }} </td>
                <td  style="text-align:center">
                <!--    <span class="label label-{{(child.assessmentLinks.count == 0)?'warning':'default'}}"> -->
                            {{ child.assessmentLinks.count }}
                <!--    </span> -->
                </td>
                <td  style="text-align:center"> 
		         
				 {% if ( is_granted("ROLE_ENSEIGNANT")  and course.isRedacteur(app.user.id) ) or 
				       ( is_granted("ROLE_RESPONSABLE") and course.isRedacteur(app.user.id) ) or  
				       ( is_granted("ROLE_ADMIN") )
				  %}	                  <a href="{{ path('objective_competence_selection', {id:child.id, menu:'course_objective'}) }}" title="Modifier les compétences liées à l'objectif">
                        <span class="label label-{{(child.competenceLinks.count == 0)?'warning':'default'}}">  
                            {{ child.competenceLinks.count }}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-edit"></span>
                        </span>
                    </a>
                  {% else %}  
                  	{{ child.competenceLinks.count }}
                  {% endif %}  
                </td>
                <td style="text-align:center"> 
		         
				 {% if ( is_granted("ROLE_ENSEIGNANT")  and course.isRedacteur(app.user.id) ) or 
				       ( is_granted("ROLE_RESPONSABLE") and course.isRedacteur(app.user.id) ) or  
				       ( is_granted("ROLE_ADMIN") )
				  %}	    
	 		                   
                    <a href="{{ path('specific_objective_delete', {id:child.id}) }}"  title="Supprimer l'objectif spécifique">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  {% endif %}
                </td>    
            </tr>
            
            {% if objectifCompetences[child.id] is defined and objectifCompetences[child.id]!= null   %}
	             <tr>
	            	<td colspan='5' style="background-color:white">
	            		<div class="col-md-2">
	            			Vue étudiant :
	            		</div>
	            		<div class="col-md-10">            		
		            		{% for oc in objectifCompetences[child.id]  %}
		            				<li>   {{ oc.weight*100}}% {{ oc.title }}
		            		{% endfor %}
		            	</div>
	            	</td>
	            </tr>         
            {% endif %}            
       

        {% endblock %}

        {% block children_header %}
            <thead class="list-header">
	        <tr>
	            <th class="col-md-7"> Objectifs spécifiques </th>
	            <th class="col-md-2" colspan='2' style='text-align:center;'> Evaluations </th>

                <th class="col-md-1"> Compétences </th>
	            <th class="col-md-1"> Supprimer</th>
	        </tr>
	        <tr>
	            <th class="col-md-8"> </th>
	            <th class="col-md-1"> Poids </th>
                <th class="col-md-1"> Nombre </th>
                <th class="col-md-1">  </th>
	            <th class="col-md-1"> </th>
	        </tr>	        
            </thead>
        {% endblock %}

        {% block new_parent %}			   
		           
			{% if ( is_granted("ROLE_ENSEIGNANT")  and course.isRedacteur(app.user.id) ) or 
				  ( is_granted("ROLE_RESPONSABLE") and course.isRedacteur(app.user.id) ) or  
				  ( is_granted("ROLE_ADMIN") )
			%}	
			 			
			
		          
            <div class="node-creator general-item-creatorX">
                <form name="aloes_general_objective" action="{{path('course_objective_create', {id:course.id})}}" method="POST">
                    <div class="form-group">
                        <input name="aloes_general_objective[title]" type="text" placeholder="Nouvel objectif général" required>
                        
						<input type="hidden" name="aloes_general_objective[_token]" value="{{ csrf_token('aloes_general_objective') }}">                         
                    </div>   
                     
                    <button class="btn btn-xs btn-success" type="submit"> Ajouter </button>
                </form>
            </div>
          {% endif %}
        {% endblock %}
 

        {% block new_child %}
		         		         
		         
			{% if ( is_granted("ROLE_ENSEIGNANT")  and course.isRedacteur(app.user.id) ) or 
				  ( is_granted("ROLE_RESPONSABLE") and course.isRedacteur(app.user.id) ) or  
				  ( is_granted("ROLE_ADMIN") )
			%}	 		
			      
            <div class="child-creator">
                <form action="{{path('general_objective_specific_objective_create', {id:parent.id})}}" method="POST">
                    <div class="form-group">
                        <input name="aloes_specific_objective[title]" type="text" placeholder="Nouvel objectif spécifique" required>
                        
						<input type="hidden" name="aloes_specific_objective[_token]" value="{{ csrf_token('aloes_specific_objective') }}">                           
                        
                    </div>
                    <button class="btn btn-xs btn-success" type="submit"> Ajouter </button>
                </form>
            </div>
          {% endif %}
          
          
         </div>          
          
        {% endblock %}


    {% endembed %}

{% endblock %}


