{% extends 'IfeAloesBundle:Course:layout.html.twig' %}


{% block content -%}

	
    	<div class='title-two1a col-md-12 col-sm-12'> 
			Edition présentation du cours (UE)
		</div>

	{{ tinymce_init() }}

 
	{{ form_stylesheet(edit_form) }}
    {{ form_javascript(edit_form) }}	
    		

	{{ form_start(edit_form) }}
	

	<div class='col-sm-12 container-fluid block3'>
	<br/>    
	<div class="col-sm-12 block3b">     
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.program) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.program) }}
		 	    {{ form_errors(edit_form.program) }}	
			</div> 	  	
		</div>   	
	    
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.label) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.label) }}
		 	    {{ form_errors(edit_form.label) }}	
			</div> 	  	
		</div>   	
		
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.title) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.title) }}
		 	    {{ form_errors(edit_form.title) }}	
			</div> 	  	
		</div>   	
	

		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.parcours) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.parcours) }}
		 	    {{ form_errors(edit_form.parcours) }}	
			</div> 	  	
		</div>   	
	
	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.semestres) }}
			</div> 	  		    	
			<div class='col-md-4'> 	  	  
		    	{{ form_widget(edit_form.semestres) }}
		 	    {{ form_errors(edit_form.semestres) }}	
			</div> 	  	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.year) }}
			</div> 	  		    	
			<div class='col-md-4'> 	  	  
		    	{{ form_widget(edit_form.year) }}
		 	    {{ form_errors(edit_form.year) }}	
			</div> 	  	
		</div>  		
		
	
          
	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.langues) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.langues) }}
		 	    {{ form_errors(edit_form.langues) }}	
			</div> 	  	
		</div>             
	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.credits) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.credits) }}
		 	    {{ form_errors(edit_form.credits) }}
			</div> 	  	
		</div>  

		<div class='row'>			
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.isOptional) }}
			</div> 	  		    	 
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.isOptional) }}
	 	    	{{ form_errors(edit_form.isOptional) }}
			</div> 		
		</div>  
		
	</div>
	
	<div class="col-sm-12 block3b">    
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.prerequisites) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.prerequisites) }}
	 	    	{{ form_errors(edit_form.prerequisites) }}
			</div> 	  	
		</div>  
	  
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.concurrentCourses) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.concurrentCourses) }}
	 	    	{{ form_errors(edit_form.concurrentCourses) }}
			</div> 	  	
		</div>   
	</div>	


	



	<div class="col-sm-12 block3b">    
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.url_ped) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.url_ped) }}
	 	   	 	{{ form_errors(edit_form.url_ped) }}
			</div> 	  	
		</div> 	            

		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.url_web) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.url_web) }}
	 	   	 	{{ form_errors(edit_form.url_web) }}
			</div> 	  	
		</div> 	            
	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.url_twi) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.url_twi) }}
	 	   	 	{{ form_errors(edit_form.url_twi) }}
			</div> 	  	
		</div> 	      
	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.url_aut) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.url_aut) }}
	 	   	 	{{ form_errors(edit_form.url_aut) }}
			</div> 	  	
		</div> 	   
	                          
     
	</div>	

	
		<div class='row'>	
			<div class='col-md-2'> 	  	  
		    	{{ form_label(edit_form.publicationState) }}
			</div> 	  		    	
			<div class='col-md-10'> 	  	  
		    	{{ form_widget(edit_form.publicationState) }}
		 	    {{ form_errors(edit_form.publicationState) }}	
			</div> 	  	 
		</div>   
	
	
	<div class='row'>	
			<div class='col-md-3'> 
				{{ form_widget(edit_form.submit)}}
				
				{{ form_end(edit_form) }}
			</div>
	    	<div class='col-md-3'>	    	
		    	{% if from is defined and from=='list' %}
		    		<a href="{{ path('programs_courses',{id:program.id}) }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour liste des cours (UE)</a> 	
		    	{% else %}
		    		<a href="{{ path('course_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour présentation </a>
		    	{% endif %}	    	
	    	</div>
	    <!--	
	    	<div class='col-md-3'> 
	    		{{ form(delete_form) }} 	
	    	</div>
	    -->
	</div>	
	
	</div>

	
{% endblock %}
