{% extends 'IfeAloesBundle:Program:layout.html.twig' %}

{% import "::macro.html.twig" as macro %}

{% block content -%}
	
   	
    	<div class='title-two1a col-md-9 col-sm-9'> 
			Liste des cours (UE) 
		</div>
    	<div class='title-two1b col-md-3 col-sm-3' style='text-align:right'>
		 	{% if    ( is_granted("ROLE_ENSEIGNANT")  and program.isEnseignant(app.user.id)) or		 
		 			 ( is_granted("ROLE_RESPONSABLE") and program.isResp(app.user.id) ) or 
		             ( is_granted("ROLE_ADMIN") )
		 	%}	
		 	
		 	
					<div id="button_gen" class="col-sm-12" style="text-align:right">   	   
					  <a class="btn1 btn-color4" href="{{ path('programs_courses_new', {id:program.id}) }}" >
					  		<span class="glyphicon glyphicon-plus-sign"> Ajouter un cours (UE)
					  </a> 						             
					</div>  			 	

			{% endif %}	 	
    	</div> 		

	
	<div class="col-sm-12 block3">
	    <table class="table   table-striped  table-hover ">
	        <thead>
	            <tr>
	                <th width='10%'>{{ knp_pagination_sortable(pagination, 'Statut', 'c.publicationState') }}
            			{{ macro.tri('c.publicationState',sort,direction) }}   
	                 </th>
	                <th width='10%'>{{ knp_pagination_sortable(pagination, 'Sigle', 'c.label') }}
            			{{ macro.tri('c.label',sort,direction) }}   
	                 </th>
	                <th width='45%'>{{ knp_pagination_sortable(pagination, 'Ensemble des cours (UE)', 'c.title') }}
            			{{ macro.tri('c.title',sort,direction) }} 
	                </th>
	                <th width='10%' style='text-align:center'>{{ knp_pagination_sortable(pagination, 'Crédits', 'c.credits') }}
            			{{ macro.tri('c.credits',sort,direction) }} 
	                 </th>
		            <th width='10%' style="text-align:center"> {{ knp_pagination_sortable(pagination, 'Optionnel', 'c.isOptional') }}
		            {{ macro.tri('c.isOptional',sort,direction) }} 
		            </th>	    
		            <th width='5%' style="text-align:center"> Visualiser</th>	                
	            
	                <th width='5%' style='text-align:center'> Modifier </th>
	                <th width='5%' style='text-align:center'> Supprimer </th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in pagination %}
	            <tr>
	               <td >
	                    {% if ( is_granted("ROLE_ENSEIGNANT")  and entity.isRedacteur(app.user.id) ) or 
	                    	  ( is_granted("ROLE_RESPONSABLE") and entity.isRedacteur(app.user.id) ) or  
	                    	  ( is_granted("ROLE_ADMIN") )
	                   	%} 
	                   	<a class="btn1" href="{{ path('course_statut', { 'id': entity.id }) }}">
		               {% endif  %}     
	                   	
						{% if entity.publicationState is defined and entity.publicationState==1 %}
		                		<span class="glyphicon glyphicon-eye-open" style='color:green' title='Public&nbsp;'> 
		                {% else  %}                	
								<span class="glyphicon glyphicon-eye-close" style='color:red'  title='Brouillon'> 
		                {% endif  %}  	                   	

	                    {% if ( is_granted("ROLE_ENSEIGNANT")  and entity.isRedacteur(app.user.id) ) or 
	                    	  ( is_granted("ROLE_RESPONSABLE") and entity.isRedacteur(app.user.id) ) or  
	                    	  ( is_granted("ROLE_ADMIN") )
	                   	%}	                   	
	                   	</a>
		               {% endif  %}  	                   	              
		                	  
	                </td>            
	            
	                <td> {{ entity.label }}</td>
	                <td> {{ entity.title }}</td>
	                <td style='text-align:center'>{{ entity.credits }}</td>  

	                <td style='text-align:center'>
	                {% if entity.isOptional is defined and entity.isOptional=="1" %}	                
	               		*
	               	{% endif %}
	                
	                </td>  
	                
	                <td  style="text-align:center"><a  class="btn1 btn-color4" href="{{ path('course_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>	                
	                 

	                <td style='text-align:center'>
	                    {% if ( is_granted("ROLE_ENSEIGNANT")  and entity.isRedacteur(app.user.id) ) or 
	                    	  ( is_granted("ROLE_RESPONSABLE") and entity.isRedacteur(app.user.id) ) or  
	                    	  ( is_granted("ROLE_ADMIN") )
	                   	%}
	        				<a class="btn1 btn-color4" href="{{ path('courses_edit', { 'id': entity.id, 'from': 'list' }) }}"><span class="glyphicon glyphicon-edit"></span></a>                	        				
	        			{% endif %} 
	                </td>
	                <td style='text-align:center'> 
	                    {% if ( is_granted("ROLE_ENSEIGNANT")  and entity.isRedacteur(app.user.id) ) or 
	                    	  ( is_granted("ROLE_RESPONSABLE") and entity.isRedacteur(app.user.id) ) or  
	                    	  ( is_granted("ROLE_ADMIN") )
	                   	%}
	                   	
							<a  data-cache="false"  data-toggle="modal" class="btn1 btn-danger" href="{{ path('courses_del2', {id:entity.id}) }}" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span> </a> 						                    
	               	
	                   	
	    					<!--               	
		                	<a   class="btn_delete"  href="{{path('courses_delete',{id:entity.id})}}">
		                		<span class="glyphicon glyphicon-remove"></span>
		                	</a> 
		                	--> 
		                {% endif %}
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</div>	    
    
		<center>
		{{ knp_pagination_render(pagination) }}
		</center>	    
	

  	<script>            
		$(document.body).on('hidden.bs.modal', function () {
				$('#myModal').removeData('bs.modal');	    	
				$("#modal-content").html('');								
					
		});								 		                     
	</script>
	  
	<div class="modal fade in " data-backdrop="static" id="myModal" tabindex="-1" role="dialog"  data-target=".bs-example-modal-lg" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" style="z-index: 1050">  
				<div id="modal-content" class="modal-content"> 					  	
			    </div>
			</div>   
	</div>   	
	

{% endblock %}


{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
			
		$('.btn_delete').click(function(e) {
			e.preventDefault(); 
			var path = $(this).attr('href');
			$('#btn_comfirm_delete').attr('href', path);
			$('#modal_confirm_delete').modal({'show':true});  
		}); 
	</script> 
{% endblock %}
