<script src="{{asset('bundles/ifealoes/js/bootstrap3-typeahead.min.js')}}"></script>
<script src="{{asset('bundles/ifealoes/js/categories.js')}}"></script>


<div class="modal-header color1"> 
	{% if type is defined and type=="new" %}
		<b>Créer une compétence générale</b>
	{% else %}
		<b>Modifier une compétence générale</b>	
	{% endif%}			
	
	<button type="button" id="close"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div id="modal-body" class="modal-body" >

  <form id="aloes_generalcompetence" action="" method="post" name="" method="post"   {{ form_enctype(form) }}>

	   	 {{ form_errors(form) }}	 
	    
	   	 {{ form_row(form.title) }}		   	 

			<div class="col-sm-12">
				<div class='col-sm-2'> 	  	  
				    <b>Catégorisation</b>
				</div> 	  
				<div class="col-sm-5">	 
					<div id="categorie-control" class="control-group col-sm-12">
						<div class="input-append">
							<input   id="new-categorie" type="text">	
									
						</div>
					</div> 				
				</div>	
				<div class="col-sm-1">
					<button id="add-another-categorie" class="btn" type="button">+</button>	
				</div>
				<div class="col-sm-4">					
					<ul id="categories-list">
					</ul>
					 
					<div id="hiddens">
						{{ form_widget(form.categories) }}
					</div> 					
				</div>		   
			</div>  	   	 			
			
	   	 
	   	 {{ form_rest(form) }}	   	 
	   	   	
	   	 <hr/>
	   	 	 
	     <button class="btn btn-color1" type="submit"><i class="icon icon-check icon-lg"></i>Enregistrer</button>
    	 <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>	    
	    
  </form> 

  <script type="text/javascript">

			$('input:text:visible:first').focus();
				   
			$("#aloes_generalcompetence").submit(function() {
				            
			data = $(this).serialize();		 	
 	 
			$.ajax({  
					type: "POST",
					 
					{% if 		type is defined and type=="new" 														%}					
						url: "{{ path("program_competences_create2", {id:program.id }) }}",
					{% elseif type is defined and type=="update" 														%}						
						url: "{{ path("program_competences_update2", {id:entity.id}) }}",					
					{% endif 																							%}	
					data: data, 
					dataType : 'json',				 								
					cache: false, 
					success: function(data) 
						{ 
						if (data.result==false)					  
							$("#modal-content").empty().append(data.content);  
						else
							{					
							{% if 		type is defined and type=="new" 														%}							
								$("#CGS").append(data.content);  	
							{% elseif type is defined and type=="update" 														%}																		 
								$("#CG_{{entity.id}}_A_title2").empty().append(data.content);  
								$("#CG_{{entity.id}}_A_categorie").empty().append(data.categorie);  							
							{% endif 					 																		%}
							
							$('#myModal').modal('hide');							
							}   
						}   					
			});	             			             
	
			return false;		           				       				 
		});
	
  </script>
</div>	
