<div class="modal-header color2"> 
	{% if type is defined and type=="new" %}
		<b>Créer un objectif spécifique</b>
	{% else %}
		<b>Modifier un objectif spécifique</b>	
	{% endif%}		
	<button type="button" id="close"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div> 

<div id="modal-body" class="modal-body" > 

	<script type="text/javascript">
	
		$('input:text:visible:first').focus();	
	
		$('.panel').each(function()
		{	
		    var that = this;		    
		    var cpt=0;	
		    	    
		    $("input[type='radio']:checked", this).each(function()
			    {		
			    if ($(this).val()!=0)
			    	{
			        cpt=cpt+1;    		    	
					}
			    });	  
			      
		    if(cpt>0)
		    	$(".panel-collapse", this).addClass("in");	
		    else
		    	$(".panel-collapse", this).removeClass("in");			    	     
		});
				 
		$('input:radio').click(function() {

				$('.panel').each(function()
				{	
				    var that = this;		    
				    var cpt=0;	
				    	    
				    $("input[type='radio']:checked", this).each(function()
					    {		
					    if ($(this).val()!=0)
					    	{
					        cpt=cpt+1;    		    	
							}
					    });	  
					      
				    if(cpt>0)
				    	$(".panel-collapse", this).addClass("in");	
				    else
				    	$(".panel-collapse", this).removeClass("in");			    	     
				});
					
		});	
	
	
		$("#aloes_specific_objective_2").submit(function() {			           
				                				             
			data = $(this).serialize();		         
	
			$.ajax({
					type: "POST",
					{% if type is defined and type=="new" %}					
						url: "{{ path("general_objective_specific_objective_create_2", {id:parent.id}) }}",
					{% elseif type is defined and type=="update" %}					
						url: "{{ path("general_objective_specific_objective_update_2", {id:entity.id}) }}",	
					{% endif 																							%}											
					data: data,
	 				//dataType : 'html',	
					dataType : 'json',	 												
					cache: false,
					success: function(data) 
						{
						{% if type is defined and type=="new" %}	
						if (data.result==false)					  
							$("#modal-content").empty().append(data.content);  
						else
							{						
											
							var content = $(data);
							$("#sortable{{parent.id}}").append(data.content); 
					
							$('#myModal').modal('hide');								
							}
						{% elseif type is defined and type=="update" %}		
						if (data.result==false)					  
							$("#modal-content").empty().append(data.content);  
						else
							{												 
							$("#OS_{{entity.id}}").empty().append(data.specifique);
							
							
							
							var x = data.order;
						
							var cpt=0;
									
							$.each( x, function( key, value ) {
										key 	= value['key'];
										weight 	= value['weight'];
										type 	= value['type'];
										
										if (type=="GEN")
											{
											if (weight==null)
												weight=0;
											$("#OG_"+key+"_A_weight").empty().append(progress_bar(weight,'success'));
											cpt = cpt +	weight;	 													
											}
										if (type=="SPE")
											{
											if (weight==null)
												weight=0;
											$("#OS_"+key+"_weight").empty().append(progress_bar(weight,'warning')); 																					
											}																	
							}); 							
							
							
							 	
							$('#myModal').modal('hide');	 
							}
						{% endif 																							%}																
						}   
			});	             			             	
			return false;		           				 
	
		 
		});
		
	</script>	 	

	<form id="aloes_specific_objective_2" action="" method="post" {{ form_enctype(form) }}>	  
          		   
		{% set gc = "" %}	

		{{ form_errors(form) }}	
		  		
		<div class="row">    	
			
			<div class="col-sm-12"> 		
		  		{{ form_row(form.title) }}	
			</div> 
			    
		
			<div class="col-sm-12"> 		
			  	<b>Sélectionner les compétences associées à cet objectif :</b>
			  
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">		
				
				{% set gc = "" %}			
				
			    {% for specificCompetences in competences %}
			    
					{% if  gc != specificCompetences.gc_id  and  gc !="" %}
								</div>
							  </div>
						  </div>	  	
					{% endif %}			 
					
					{% if  gc != specificCompetences.gc_id %}
						  <div class="panel panel-default">
						    <div class="panel-heading" role="tab2" id="heading{{specificCompetences.gc_id}}">
						      <h4 class="panel-title">
						        <a role="button" data-toggle="collapse"  href="#collapse{{specificCompetences.gc_id}}" aria-expanded="true" aria-controls="collapse{{specificCompetences.gc_id}}">
									{{ specificCompetences.gc_title}}
						        </a>   
						      </h4>
						    </div>
						    <div id="collapse{{specificCompetences.gc_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{specificCompetences.gc_id}}">
		      					<div class="panel-body" > 
									<div class="col-sm-12" > 
										<div class="col-sm-9" >
											<b>Compétences</b>
										</div>
										<div class="col-sm-1" style="text-align:center;font-size:11px;">
											<b>Principale</b>
										</div>
										<div class="col-sm-1" style="text-align:center;font-size:11px;">
										<b>Secondaire</b>
										</div>
										<div class="col-sm-1" style="text-align:center;font-size:11px;">
										<b>Aucune</b>
										</div>																		
									</div>


					{% endif %}			
		
						
					<div class="col-sm-12"> 
						<div class="col-sm-9">
			     			{{ specificCompetences.sc_title}}  {{ specificCompetences.rating}} 
			     		</div>	
						<div class="col-sm-1"  style="text-align:center">
							{% if specificCompetences.rating==2 %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" checked="checked"  value="2">
			     			{% else %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" value="2">
			     			{% endif %}
			     		</div>	 
						<div class="col-sm-1"  style="text-align:center">
							{% if specificCompetences.rating==1 %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" checked="checked"  value="1">
			     			{% else %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" value="1">
			     			{% endif %}
			     		</div>	
						<div class="col-sm-1"  style="text-align:center">
							{% if specificCompetences.rating=='' %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" checked="checked"  value="0">
			     			{% else %}
			     				<input type="radio" name="radio{{specificCompetences.sc_id}}" value="0">
			     			{% endif %} 
			     		</div>   	
			     	
			     	</div>   		 
			 
					{% set gc = specificCompetences.gc_id %}  
							
		    	{% endfor %}
		    	
				{% if   gc !="" %}    	
						</div>
					</div>	
				</div>	
				{% endif %}		    	
  			</div>  
  		  	 
		</div>
		<hr/>  
		<div class="col-sm-12">		 
	   		<button class="btn btn-color2" type="submit"><i class="icon icon-check icon-lg"></i> Enregistrer</button>
    		<button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>	 	   
  	
 		{{ form_rest(form) }}
 		
 		</div>
	</form> 

</div> 